/* Estructura del form para agregar to-does  */
.tarea-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Input para agregar los to-does */
.tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid green;
    outline: none;
}

/* Botón para agregar un To-Do */

.tarea-boton {
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background: rgb(28, 182, 8);
    color: #fff;
    text-transform: capitalize;


}